* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  :root {
    --colorTextBrighter: #fff;
    --colorText: #eee;
    --colorMain: #ffe2cb;
    --colorBase: #333;
    --colorBack: #222222;
    --colorRed: #FF5149;
    --colorBrightRed: #ff8f89;
  }
  
  html {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--colorText);
  }
  
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  a {
    color: var(--colorTextBrighter);
  }
  
  h2 {
    font-size: 1.6em;
  }
  
  img{
    user-select: none;
  }
  
  .page-wrapper {
    background: var(--colorBack);
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 65vw;
    margin: auto;
  }

  #background {
    position: fixed;
  }

  .page-header {
    display: flexbox;
    flex-wrap: wrap;
    gap: 1rem 5rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
  }

  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorBrightRed);
    font-size: 0.8em;
    margin: 0rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
   }

  .logo {
    display: flex;
    justify-content: center;
    gap: .4em 1.2rem;
    align-items: center;
    user-select: none;
    text-decoration: none;
  }
  
  .logo img {
    width: 6.5625em;
  }
  
  .logo h1 {
    font-size: 4.2em;
    color: var(--colorMain);
    font-family: 'Jua', sans-serif;
    font-weight: 400;
    left: 4vw;
    position: relative;
    top: .06em;
  }

  section {
    opacity: 1;
    height: auto;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
    height: 0;
    transition: opacity 0.3s ease-in-out;
}

  .heading-sm {
    display: flex;
    padding-left: 3vw;
    font-family: 'Poppins', sans-serif;
    color: var(--colorMain);
    margin-bottom: 4vh;
  }

  .heading-sm:hover {
    color:rgb(163, 163, 163);
  }

  .heading-sm span {
    color: var(--colorBrightRed);
    padding-right: 1%;
  }

  .heading-sm span:hover {
    color: var(--colorRed);
  }

  .project-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1130px;
    margin-inline: auto;
  }
  
  .project {
    max-width: 57rem;
    background: var(--colorBase);
    border-radius: 24px;
    padding: 16px;
    width: 260px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .project img {
    border-radius: 12px;
    width: 228px;
    aspect-ratio: 1;
    border: 4px solid #222;
    transition: 0.15s;
  }
  
  .project p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  
  .hoverable:hover img {
    border: 4px solid var(--colorRed);
  }
  
  .portfolio-button {
    min-height: 64px;
    text-decoration: none;
    background-color: var(--colorRed);
    padding-inline: 4.548ch;
    padding-block: 0.725rem;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--colorTextBrighter);
    transition: .15s ease;
    transition-property: background-color, color;
  }
  
  .portfolio-button:hover{
    background-color: var(--colorTextBrighter);
    color: var(--colorRed);
  }
  
  .portfolio-button:active {
    transition: .15s;
    transform: scale(.975)
  }

  footer {
    width: 100%;
    padding: 3rem 0rem;
    max-width: 1220px;
    margin-inline: auto;
  }
  
  footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  footer .social-links a {
    display: block;
    text-align: center;
    width: 48px;
    height: 48px;
  }
  
  footer .social-links i {
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 5px;
    width: 100%;
    height: 100%;
  }
  
  .social-links [href*='discordapp.com']:hover {color: #5662F6;}
  .social-links [href*='instagram.com']:hover {color: #F13268;}
  .social-links [href*='linkedin.com']:hover {color: #0A66C2;}
  .social-links [href*='github.com']:hover {color: rgb(81, 0, 83);}
  .social-links [href*='youtube.com']:hover {color: #FF0000;}
  .social-links [href*='steampowered.com']:hover {color: #1382B3;}
  .social-links [href*='play.google.com']:hover {color: #EFB701;}
  .social-links [href*='itch.io']:hover {color: #FA5C5C;}
  .social-links [href^='mailto:']:hover {color: #4AD295;}

  footer p {
    margin-block-start: 60px;
  }
  
  footer a {
    transition: .15s ease color;
  }
  
  footer a:hover {
    color: var(--colorRed);
  }
  
  @media (max-width: 1162px) {
    .author{
      max-width: calc(50vw - 15px - 16px);
      min-width: 248px;
    }
  }
  
  @media (max-width: 550px) {
    .game {
      width: auto;
      height: auto;
    }
  
    .game img {
      width: 100%;
    }
  
    .swiper .swiper-button-prev, .swiper .swiper-button-next{
      display: none;
      visibility: hidden;
    }
    .game-info-container p {
      padding: 30px 0px;
    }
  }

  